<html>
    <body>
            <header class="topnavbar-wrapper">
                <!-- START Top Navbar-->
                <nav role="navigation" class="navbar topnavbar">
                    <!-- START navbar header-->
                    <div class="navbar-header">
                    <a href="/" class="navbar-brand">
                        <div class="brand-logo" style="font-size: 15px;">
                            Medical Research Project MS
                        </div>
                        <!-- <div class="brand-logo-collapsed">
                            <i class="fa fa-user-md"></i>
                        </div> -->
                    </a>
                    </div>
                    <!-- END navbar header-->
                    <!-- START Nav wrapper-->
                    <div class="nav-wrapper">
                    </div>
                    <!-- END Nav wrapper-->
                    <!-- START Search form-->
                    <form role="search" action="search.html" class="navbar-form">
                    <div class="form-group has-feedback">
                        <input type="text" placeholder="Type and hit enter ..." class="form-control">
                        <div data-search-dismiss="" class="fa fa-times form-control-feedback"></div>
                    </div>
                    <button type="submit" class="hidden btn btn-default">Submit</button>
                    </form>
                    <!-- END Search form-->
                </nav>
                <!-- END Top Navbar-->
            </header>
        </div>
        <!-- sidebar-->

        <!-- offsidebar-->

        <!-- Main section-->
    </body>
</html>